<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Contacts</title>
</head>

<body>

<h1>Spring Boot Contacts</h1>

<form th:action="@{/contact}" th:object="${contact}" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}">
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"></span>
    <br/>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}">
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"></span>
    <br/>
    <label for="phoneNumber">Phone #:</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}">
    <span th:if="${#fields.hasErrors('phoneNumber')}"
          th:errors="*{phoneNumber}"></span>
    <br/>
    <label for="emailAddress">Email:</label>
    <input type="text" id="emailAddress" th:field="*{emailAddress}">
    <span th:if="${#fields.hasErrors('emailAddress')}"
          th:errors="*{emailAddress}"></span>
    <br/>
    <input type="submit" value="提交">
</form>

<ul>
    <li th:each="contact : ${contacts}" th:text="${contact}"></li>
</ul>
</body>
</html>